---
import laravelLogo from "../assets/laravel-logo.svg";
---

<header class="bg-gradient-to-b from-secondary pb-16 md:pb-24 pt-16 md:pt-20">
  <img
    src={laravelLogo.src}
    alt="Laravel Logo"
    class="w-16 h-16 md:w-24 md:h-24 mx-auto mb-8"
  />
  <h1
    class="text-4xl md:text-6xl font-bold text-center bg-gradient-to-r from-primary to-secondary/20 text-transparent bg-clip-text"
  >
    Curso de Laravel
  </h1>
  <p class="text-center text-gray-600 text-lg md:text-xl py-4">
    Aprende Laravel desde cero y aprende a desarrollar aplicaciones web
  </p>
</header>
