---
import laravelLogo from "../assets/laravel-logo.svg";
---

<section class="container px-2 md:px-0 pt-2 mx-auto mb-8">
  <div class="flex flex-col md:flex-row mx-auto bg-white rounded-xl border">
    <div class="w-full md:w-1/2 lg:w-2/6 p-8 order-last md:order-first  m-auto">
        <h2
        class="text-2xl md:text-4xl p-4 text-gray-500 text-balance text-center"
      >
        Eleva tu conocimiento en <span class="text-primary font-medium"
          >Laravel</span
        >, y crea tu primer proyecto de exito.
      </h2>

      <div class="flex p-4 md:p-4">
        <div
          class="flex flex-col lg:flex-row mx-auto gap-4 items-center justify-center"
        >
          <a
            href="https://laravel.com/docs/9.x/quickstart"
            class="bg-primary text-white font-bold rounded-full px-8 py-2 text-center transition hover:bg-gray-700 w-fit min-w-[180px]"
            ><i class='bx bx-play-circle align-middle' ></i> Comenzar</a
          >
          <a
            href="https://laravel.com/docs/9.x/quickstart"
            class="text-primary font-bold rounded-full px-8 py-2 text-center transition border border-primary hover:text-gray-700 hover:border-gray-700 w-fit min-w-[180px]"
            ><i class='bx bx-book align-middle' ></i> Documentación</a
          >
        </div>
      </div>

    </div>

    <div class="bg-hero-background bg-cover bg-center bg-no-repeat rounded-t-xl rounded-b-none md:rounded-r-xl md:rounded-l-none flex flex-col justify-center items-center h-[300px] md:h-[600px] w-full md:w-1/2 lg:w-4/6 p-8 order-first md:order-last relative">
            <div class="absolute w-full h-full bg-gradient-to-bl from-primary from-0%  to-50%  top-0 right-0 rounded-r-xl">

            </div>
    </div>
  </div>
</section>
